<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
        <p>
            Search:
            <input ng-model="$ctrl.query" />
        </p>
        <p>
            Sort by:
            <select ng-model="$ctrl.orderProp">
                <option value="name">Alphabetical</option>
                <option value="length">Track Length</option>
                <option value="turns">Number of Turns</option>
            </select>
        </p>
        </div>
        <div class="col-md-10">
            <ul>
                <h1>List of Tracks</h1>
                <li ng-repeat="track in tracks | filter:$ctrl.query | orderBy:$ctrl.orderProp">
                    <a href="#!/track-detail/{{track.id}}">{{track.name}}</p>
                </li>
            </ul>
        </div>
    </div>
</div>